.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--spacing-xxl) var(--spacing-lg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 48em) {
  .container {
    padding: var(--spacing-xl) var(--spacing-md);
  }
}